* {
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    text-align: center;
}

.card {
    background-color: #111; 
    color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 500px;
    border-radius: 4px; 
}

.card span {
    color: #febe01;
    font-weight: bold;
}

.btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #febe01;
    color: #332200;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}


